<style>
  .before-after-wrapper {
    max-height: 1281px;
  }
  .before-after-images-wrapper {
    max-width: 1180px;
    margin: auto;
    display: flex;
    gap: 69px;
    margin-top: 52px;
  }
  .before-after-wrapper .workflow-custom-tittle {
    max-width: 831px;
    padding-top:82px;
  }
  .before-after-wrapper .workflow-custom-tittle_1 {
    font-family: var(--custom-font-style-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }

  .before-after-images-wrapper-inner {
    position: relative;
    flex-basis: 50%;
  }

  .text-custom-label {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%);
    height: 50px;
    width: 214px;
    border-radius: 4px;
    border: 4px solid rgba(61, 135, 144, 1);
    box-sizing: border-box;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--custom-font-style-primary);
    font-size: 25px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
  }

  .before-after-images-wrapper-inner img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s; /* Изменили значение на 0.3s */
  }

  .before-after-images-wrapper-inner img:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

  .features_wrapper {
    max-width: 1265px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }

  .features_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 283px;
    text-align: center;
    gap: 30px;
    max-height: 190px;
  }
  .features_item span p{
    margin:0;
    font-family: var(--custom-font-style-secondary);
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: center;
  }

  @media screen and (max-width: 1220px) {
    .before-after-images-wrapper {
      padding: 12px;
    }
  }
  @media screen and (max-width: 900px) {
    .before-after-images-wrapper {
      padding: 12px;
      gap: 10px;
    }

    .text-custom-label {
      font-size: 12px;
      line-height: 12px;
      bottom: -12px;
      height: 24px;
      width: 90px;
      border-radius: 1px;
      border: 1px solid;
    }
  }

  @media screen and (max-width: 767px) {
    .features_wrapper {
      flex-direction: column;
      align-items: center;
      gap: 36px;
      padding: 0 18px;
    }
    .features_wrapper {
      margin-top: 33px;
    }
    .features_item span p{
      font-size: 16px;
      line-height: 22px;
    }
    .before-after-wrapper .workflow-custom-tittle{
      padding-top:57px;
    }
    .before-after-wrapper .workflow-custom-tittle_1 {
      font-size: 14px;
      line-height: 20px;
    }
  }
  @media screen and (max-width: 500px) {
    .features_wrapper {
      align-items: start;
      gap: 15px;
    }
    .features_item {
      max-width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
    .features_item img {
      width: 40px;
      height: 40px;
    }
    .features_item span,
    .features_item span p{
      text-align: left;
    }
  }
</style>

<div class="before-after-wrapper">
  <h2 class="markered_text workflow-custom-tittle">
    {{ section.settings.heading }}
  </h2>
  <h5 class="workflow-custom-tittle_1">{{ section.settings.text }}</h5>
  <div class="before-after-images-wrapper">
    <div class="before-after-images-wrapper-inner">
      <img loading='lazy' src="{{ section.settings.before_image | image_url }}" alt="Before Image">
      <div class="text-custom-label">{{ section.settings.before_text }}</div>
    </div>
    <div class="before-after-images-wrapper-inner">
      <img loading='lazy' src="{{ section.settings.after_image | image_url }}" alt="Before Image">
      <div class="text-custom-label">{{ section.settings.after_text }}</div>
    </div>
  </div>

  <div class="features_wrapper">
    {% for block in section.blocks %}
      <div class="features_item">
        <img src="{{ block.settings.image | image_url }}" alt="Before Image">
        <span> {{ block.settings.heading }}</span>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "before-after",
  "max_blocks": 3,
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "heading",
      "default": "<p>say goodbye to wasting time looking for <strong>your tools by neatly organizing</strong></p>"
    },
    {
      "type": "text",
      "id": "text",
      "label": "text",
      "default": "From Chaos to Order: Transform Your Workflow by Organizing Your Tools"
    },
    {
      "type": "image_picker",
      "id": "before_image",
      "label": "before_image"
    },

    {
      "type": "text",
      "id": "before_text",
      "label": "before_text",
      "default": "some info"
    },
    {
      "type": "image_picker",
      "id": "after_image",
      "label": "after_image"
    },
    {
      "type": "text",
      "id": "after_text",
      "label": "after_text",
      "default": "some info"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "iamages",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "label": "heading",
          "type": "richtext",
          "id": "heading",
          "default":"<p>Neat and efficient power tool storage system</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "before-after"
    }
  ]
}
{% endschema %}
