<style>
  .featured-collection-custom_wrapper {
    background: #fffdf1;
    height: 1001px;
    box-sizing: border-box;
  }
  .featured-collection-custom_wrapper .markered_text p {
    margin: 0;
  }
  .featured-collection-custom_wrapper .markered_text {
    margin: 0;
    padding: 83px 12px 0 12px;
    background: linear-gradient(180deg, #efe9cc 0%, #fffdf1 100%), linear-gradient(0deg, #ffffff, #ffffff);
  }

  .featured-collection-custom_under_header,
  .featured-collection-custom_wrapper .markered_text {
    text-align: center;
  }
  .featured-collection-custom_under_header {
    max-width: 699px;
    margin: auto;
    margin-top: 21px;
    font-family: var(--custom-font-style-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    color: var(--custom-font-color-primary);
  }
  .featured-collection-custom_grid {
    padding: 0 12px;
    max-width: 1244px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: auto;
    margin-top: 60px;
  }

  .featured-collection-custom_grid_element {
    background: white;
    max-width: 288px;
    height: 544px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    box-shadow: 0px 0px 30px 0px #efe9cb;
    padding: 30px 0;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .featured-collection-custom_grid_element p {
    margin: 0;
    margin-top: 16px;
    max-width: 213px;
  }
  .featured-collection-custom_grid_element img {
    max-width: 182px;
    height: 210px;
  }
  .featured-collection-custom_grid_element_description p,
  .featured-collection-custom_grid_element_description {
    font-family: var(--custom-font-style-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--custom-font-color-primary);
    margin: 0;
    min-height: 60px;
    padding: 0 10px;
  }
  .featured-collection-custom_grid_element svg {
    margin-top: 8px;
  }

  .featured-collection-custom_grid_element .price__sale {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .featured-collection-custom_grid_element .price__sale span {
    font-family: var(--custom-font-style-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    color: var(--custom-font-color-primary);
  }

  .featured-collection-custom_grid_element .prouct-link {
    font-family: var(--custom-font-style-primary);
    font-size: 16px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    background: #19bf6f;
    padding: 14.5px 34.5px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 27px;
  }

  .featured-collection-custom_grid_element .variants_tittle {
    font-family: var(--custom-font-style-secondary);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--custom-font-color-primary);
    margin-top: 4px;
  }
  .featured-collection-custom_grid_element .variants {
    height: 25px;
    width: 165px;
    display: flex;
    justify-content: space-between;
  }
  .featured-collection-custom_grid_element .variants svg {
    width: 25px;
    height: 25px;
  }

  .featured-collection-custom_bottom_btn {
    width: 256px;
    margin: auto;
    margin-top: 64px;
    height: 33px;
  }
  .featured-collection-custom_bottom_btn a {
    text-decoration: none;
    font-family: var(--custom-font-style-primary);
    font-size: 14px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--custom-font-color-primary);
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
  }
  .featured-collection-custom_bottom_btn_border {
    display: block !important;
    width: 100%;
    height: 6px;
    border-radius: 6px;
    background: rgba(248, 233, 165, 1);
    max-width: 255px;
    margin: auto;
  }

  .mobile_only {
    display: none !important;
    margin-top: 40px;
  }
  @media screen and (max-width: 1200px) {
    .featured-collection-custom_grid .featured-collection-custom_grid_element:last-child {
      display: none !important;
    }
    .featured-collection-custom_grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .featured-collection-custom_grid_element {
      margin: auto;
    }
  }

  @media screen and (max-width: 767px) {
    .swiper-button-prev:after,
    .swiper-button-next:after {
      display: none !important;
    }
    .swiper-button-prev svg,
    .swiper-button-next svg {
      min-height: 35px;
      min-width: 35px;
    }
    .featured-collection-custom_wrapper .desctop_collection {
      display: none;
    }
    .featured-collection-custom_wrapper .markered_text {
      padding: 40px 12px 0 12px;
    }
    .featured-collection-custom_wrapper {
      height: 854px;
    }
    .featured-collection-custom_under_header {
      max-width: 336px;
      font-size: 14px;
      line-height: 20px;
    }
    .featured-collection-custom_grid {
      margin-top: 40px;
    }
    .featured-collection-custom_grid_element {
      justify-content: space-between;
      max-width: 241px;
    }
    .featured-collection-custom_grid_element img {
      max-width: 151px;
    }
    .featured-collection-custom_grid_element_description p,
    .featured-collection-custom_grid_element_description {
      font-size: 16px;
      line-height: 20px;
      max-width: 187px;
    }

    .featured-collection-custom_grid_element .prouct-link {
      font-size: 14px;
      line-height: 14px;
      padding: 13px 31.5px;
      margin-top: 20px;
    }
    .featured-collection-custom_bottom_btn {
      margin-top: 20px;
    }
    .featured-collection-custom_bottom_btn a {
      font-size: 16px;
      line-height: 16px;
    }
    .mobile_only {
      display: block !important;
    }
    .featured-collection-custom_wrapper .swiper-pagination {
      position: initial !important;
      margin-top: 25px;
    }
    .featured-collection-custom_wrapper .swiper-pagination-bullet {
      background: rgba(30, 75, 81, 1) !important;
      height: 12px !important;
      width: 12px !important;
    }
  }
</style>

<div class="featured-collection-custom_wrapper">
  <h2 class="markered_text">{{ section.settings.heading }}</h2>
  <p class="featured-collection-custom_under_header">{{ section.settings.text_1 }}</p>

  <div class="featured-collection-custom_grid desctop_collection">
    {%- for item in section.settings.collection.products -%}
      <div class="featured-collection-custom_grid_element">
        <img loading="lazy" src="{{item.featured_image | image_url}}" alt="img">
        <div class="featured-collection-custom_grid_element_description">
          {%- if item.description != blank -%}
            {% if item.description.size > 55 -%}
              {{- item.description | truncate: 55, '...' }}
            {%- else -%}
              {{ item.description }}
            {% endif %}
          {% else %}
            {% if section.settings.dummy_description.size > 55 %}
              {{ section.settings.dummy_description | truncate: 55, '...' }}
            {%- else -%}
              {{ section.settings.dummy_description }}
            {% endif %}
          {%- endif -%}
        </div>
        <svg width="96" height="16" viewBox="0 0 96 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 0L9.87882 6.12552L16 6.11146L11.04 9.88317L12.9443 16L8 12.2055L3.05573 16L4.96 9.88317L0 6.11146L6.12118 6.12552L8 0Z" fill="#FBBC04"/>
          <path d="M28 0L29.8788 6.12552L36 6.11146L31.04 9.88317L32.9443 16L28 12.2055L23.0557 16L24.96 9.88317L20 6.11146L26.1212 6.12552L28 0Z" fill="#FBBC04"/>
          <path d="M48 0L49.8788 6.12552L56 6.11146L51.04 9.88317L52.9443 16L48 12.2055L43.0557 16L44.96 9.88317L40 6.11146L46.1212 6.12552L48 0Z" fill="#FBBC04"/>
          <path d="M68 0L69.8788 6.12552L76 6.11146L71.04 9.88317L72.9443 16L68 12.2055L63.0557 16L64.96 9.88317L60 6.11146L66.1212 6.12552L68 0Z" fill="#FBBC04"/>
          <path d="M88 1.70511L89.4008 6.27214L89.5095 6.62637L89.88 6.62552L94.5119 6.61488L90.7373 9.48517L90.4585 9.69725L90.5626 10.0318L91.9984 14.6438L88.3044 11.8089L88 11.5753L87.6956 11.8089L84.0016 14.6438L85.4374 10.0318L85.5415 9.69725L85.2626 9.48517L81.4881 6.61488L86.12 6.62552L86.4905 6.62637L86.5992 6.27214L88 1.70511Z" stroke="#FBBC04"/>
          <path d="M83.0557 16L88 12.2055V0L86.1212 6.12552L80 6.11146L84.96 9.88317L83.0557 16Z" fill="#FBBC04"/>
        </svg>

        {% render 'price', product: item, price_class: '' %}

        <div class="variants_tittle">{{ section.settings.variant_name }}</div>
        <div class="variants">
          {%- if item.variants.size > 1 -%}
            {%- for variant in item.variants -%}
              {%- if variant.available -%}
                {%- case variant.title -%}
                  {%- when 'skyblue' -%}
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="11.0328" cy="11.6321" r="11" fill="#6ABCC8"/>
                    </svg>

                  {%- when 'yellow' -%}
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="11.3069" cy="11.6322" r="11" fill="#D9DB32"/>
                    </svg>

                  {%- when 'sunshine' -%}
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="11.3069" cy="11.6322" r="11" fill="#D9DB32"/>
                    </svg>

                  {%- when 'red' -%}
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="11.8551" cy="11.6322" r="11" fill="#BC2D33"/>
                    </svg>

                  {%- when 'orange' -%}
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="11.1289" cy="11.6322" r="11" fill="#F37328"/>
                    </svg>

                  {%- else -%}
                {%- endcase -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        </div>

        <a class="prouct-link" href="{{item.url}}">{{ section.settings.button_text }}</a>
      </div>
    {%- endfor -%}
  </div>

  {% comment %}
  {% endcomment %}

  <div class="swiper product_swiper mobile_only">
    <div class="swiper-wrapper">
      {%- for item in section.settings.collection.products -%}
        <div class="featured-collection-custom_grid_element swiper-slide">
          <img loading="lazy" src="{{item.featured_image | image_url}}" alt="img">
          <div class="featured-collection-custom_grid_element_description">
            {%- if item.description != blank -%}
              {% if item.description.size > 55 -%}
                {{- item.description | truncate: 55, '...' }}
              {%- else -%}
                {{ item.description }}
              {% endif %}
            {% else %}
              {% if section.settings.dummy_description.size > 55 %}
                {{ section.settings.dummy_description | truncate: 55, '...' }}
              {%- else -%}
                {{ section.settings.dummy_description }}
              {% endif %}
            {%- endif -%}
          </div>
          <svg width="96" height="16" viewBox="0 0 96 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 0L9.87882 6.12552L16 6.11146L11.04 9.88317L12.9443 16L8 12.2055L3.05573 16L4.96 9.88317L0 6.11146L6.12118 6.12552L8 0Z" fill="#FBBC04"/>
            <path d="M28 0L29.8788 6.12552L36 6.11146L31.04 9.88317L32.9443 16L28 12.2055L23.0557 16L24.96 9.88317L20 6.11146L26.1212 6.12552L28 0Z" fill="#FBBC04"/>
            <path d="M48 0L49.8788 6.12552L56 6.11146L51.04 9.88317L52.9443 16L48 12.2055L43.0557 16L44.96 9.88317L40 6.11146L46.1212 6.12552L48 0Z" fill="#FBBC04"/>
            <path d="M68 0L69.8788 6.12552L76 6.11146L71.04 9.88317L72.9443 16L68 12.2055L63.0557 16L64.96 9.88317L60 6.11146L66.1212 6.12552L68 0Z" fill="#FBBC04"/>
            <path d="M88 1.70511L89.4008 6.27214L89.5095 6.62637L89.88 6.62552L94.5119 6.61488L90.7373 9.48517L90.4585 9.69725L90.5626 10.0318L91.9984 14.6438L88.3044 11.8089L88 11.5753L87.6956 11.8089L84.0016 14.6438L85.4374 10.0318L85.5415 9.69725L85.2626 9.48517L81.4881 6.61488L86.12 6.62552L86.4905 6.62637L86.5992 6.27214L88 1.70511Z" stroke="#FBBC04"/>
            <path d="M83.0557 16L88 12.2055V0L86.1212 6.12552L80 6.11146L84.96 9.88317L83.0557 16Z" fill="#FBBC04"/>
          </svg>

          {% render 'price', product: item, price_class: '' %}

          <div class="variants_tittle">{{ section.settings.variant_name }}</div>
          <div class="variants">
            {%- if item.variants.size > 1 -%}
              {%- for variant in item.variants -%}
                {%- if variant.available -%}
                  {%- case variant.title -%}
                    {%- when 'skyblue' -%}
                      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.0328" cy="11.6321" r="11" fill="#6ABCC8"/>
                      </svg>

                    {%- when 'yellow' -%}
                      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.3069" cy="11.6322" r="11" fill="#D9DB32"/>
                      </svg>

                    {%- when 'sunshine' -%}
                      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.3069" cy="11.6322" r="11" fill="#D9DB32"/>
                      </svg>

                    {%- when 'red' -%}
                      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.8551" cy="11.6322" r="11" fill="#BC2D33"/>
                      </svg>

                    {%- when 'orange' -%}
                      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11.1289" cy="11.6322" r="11" fill="#F37328"/>
                      </svg>

                    {%- else -%}
                  {%- endcase -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </div>

          <a class="prouct-link" href="{{item.url}}">{{ section.settings.button_text }}</a>
        </div>
      {%- endfor -%}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next">
      <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M34.5335 17.5C34.5335 8.12729 26.9219 0.527645 17.5306 0.527645C8.13925 0.527645 0.527645 8.12729 0.527645 17.5C0.527645 26.8727 8.13925 34.4724 17.5306 34.4724C26.9219 34.4724 34.5335 26.8727 34.5335 17.5Z" fill="#1E4B51"/>
        <path d="M34.5335 17.5C34.5335 8.12729 26.9219 0.527645 17.5306 0.527645C8.13925 0.527645 0.527645 8.12729 0.527645 17.5C0.527645 26.8727 8.13925 34.4724 17.5306 34.4724C26.9219 34.4724 34.5335 26.8727 34.5335 17.5Z" stroke="white" stroke-width="1.05529"/>
        <path d="M34.5335 17.5C34.5335 8.12729 26.9219 0.527645 17.5306 0.527645C8.13925 0.527645 0.527645 8.12729 0.527645 17.5C0.527645 26.8727 8.13925 34.4724 17.5306 34.4724C26.9219 34.4724 34.5335 26.8727 34.5335 17.5Z" stroke="white" stroke-width="1.05529"/>
        <path d="M23.2296 17.0777C23.4248 17.2729 23.4248 17.5895 23.2296 17.7848L20.0476 20.9667C19.8523 21.162 19.5357 21.162 19.3405 20.9667C19.1452 20.7715 19.1452 20.4549 19.3405 20.2596L22.1689 17.4312L19.3405 14.6028C19.1452 14.4075 19.1452 14.0909 19.3405 13.8957C19.5357 13.7004 19.8523 13.7004 20.0476 13.8957L23.2296 17.0777ZM11.6564 16.9312H22.876V17.9312H11.6564V16.9312Z" fill="white"/>
        <path d="M23.2296 17.0777C23.4248 17.2729 23.4248 17.5895 23.2296 17.7848L20.0476 20.9667C19.8523 21.162 19.5357 21.162 19.3405 20.9667C19.1452 20.7715 19.1452 20.4549 19.3405 20.2596L22.1689 17.4312L19.3405 14.6028C19.1452 14.4075 19.1452 14.0909 19.3405 13.8957C19.5357 13.7004 19.8523 13.7004 20.0476 13.8957L23.2296 17.0777ZM11.6564 16.9312H22.876V17.9312H11.6564V16.9312Z" fill="white"/>
      </svg>
    </div>
    <div class="swiper-button-prev">
      <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.527508 17.5C0.527508 8.12729 8.13911 0.527645 17.5304 0.527645C26.9218 0.527645 34.5334 8.12729 34.5334 17.5C34.5334 26.8727 26.9218 34.4724 17.5304 34.4724C8.13911 34.4724 0.527508 26.8727 0.527508 17.5Z" fill="#1E4B51"/>
        <path d="M0.527508 17.5C0.527508 8.12729 8.13911 0.527645 17.5304 0.527645C26.9218 0.527645 34.5334 8.12729 34.5334 17.5C34.5334 26.8727 26.9218 34.4724 17.5304 34.4724C8.13911 34.4724 0.527508 26.8727 0.527508 17.5Z" stroke="white" stroke-width="1.05529"/>
        <path d="M0.527508 17.5C0.527508 8.12729 8.13911 0.527645 17.5304 0.527645C26.9218 0.527645 34.5334 8.12729 34.5334 17.5C34.5334 26.8727 26.9218 34.4724 17.5304 34.4724C8.13911 34.4724 0.527508 26.8727 0.527508 17.5Z" stroke="white" stroke-width="1.05529"/>
        <path d="M11.8315 17.0777C11.6362 17.2729 11.6362 17.5895 11.8315 17.7848L15.0135 20.9667C15.2087 21.162 15.5253 21.162 15.7206 20.9667C15.9158 20.7715 15.9158 20.4549 15.7206 20.2596L12.8921 17.4312L15.7206 14.6028C15.9158 14.4075 15.9158 14.0909 15.7206 13.8957C15.5253 13.7004 15.2087 13.7004 15.0135 13.8957L11.8315 17.0777ZM23.4046 16.9312H12.185V17.9312H23.4046V16.9312Z" fill="white"/>
        <path d="M11.8315 17.0777C11.6362 17.2729 11.6362 17.5895 11.8315 17.7848L15.0135 20.9667C15.2087 21.162 15.5253 21.162 15.7206 20.9667C15.9158 20.7715 15.9158 20.4549 15.7206 20.2596L12.8921 17.4312L15.7206 14.6028C15.9158 14.4075 15.9158 14.0909 15.7206 13.8957C15.5253 13.7004 15.2087 13.7004 15.0135 13.8957L11.8315 17.0777ZM23.4046 16.9312H12.185V17.9312H23.4046V16.9312Z" fill="white"/>
      </svg>
    </div>
  </div>
  {% comment %}
  {% endcomment %}
  <div class="featured-collection-custom_bottom_btn">
    <a href="{{section.settings.link_shop_now}}">
      {{- section.settings.bottom_button_text | upcase }}
      <svg width="32" height="18" viewBox="0 0 32 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.0889 2L30.0872 9.00001L23.0889 16" stroke="#1E4B51" stroke-width="2.33147" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 9H28" stroke="#1E4B51" stroke-width="2.33147" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>
  <div class="featured-collection-custom_bottom_btn_border"></div>
</div>

<!-- Swiper -->

<style>
  .newSwiper .swiper-slide {
    width: 60%;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let swiper = new Swiper('.product_swiper', {
      slidesPerView: 'auto',
      centeredSlides: true,
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      autoplay: {
        delay: 3000,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "label": "heading",
      "type": "richtext",
      "id": "heading",
      "default": "<p>check out <strong>toolganize products</strong></p>"
    },
    {
      "label": "text1",
      "type": "text",
      "id": "text_1",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis mi vitae quam sodales."
    },
    {
      "label": "dummy description",
      "type": "text",
      "id": "dummy_description",
      "default": "toolganize power tool organizer & storage wall mount bla bla bla "
    },

    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "label": "button_text",
      "type": "text",
      "id": "button_text",
      "default": "SHOP NOW"
    },
    {
      "label": "link",
      "type": "text",
      "id": "link_shop_now",
      "default": "https://toolganize.myshopify.com/collections/all"
    },
    {
      "label": "bottom_button_text",
      "type": "text",
      "id": "bottom_button_text",
      "default": "Explore more products"
    },
    {
      "label": "text",
      "type": "text",
      "id": "variant_name",
      "default": "Available colours"
    }
  ],
  "presets": [
    {
      "name": "featured-collection-custom"
    }
  ]
}
{% endschema %}
