{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{{ 'component-facets.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }





  .custom_reviews_text{
    display:flex;
    align-items:center;
    gap:10px;
    justify-content:center;
  }
   .custom_reviews_text span{
    display:flex;
    align-items:center;
    gap:4px;
  }
 .custom_reviews_text span svg{
   min-width:18px;
   min-height:18px;
  }
   .custom_reviews_text p{
    font-family: var(--custom-font-style-secondary);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin:0;
    color:var(--custom-font-color-primary)
  }
  .custom_reviews_text p strong{
    font-weight: 700;
    padding:0 4px;
  }

  .collection_custom_wrapper{
          padding:0 0 100px 0;


        }
        .collection_custom_gradient{
          background: linear-gradient(180deg, rgba(219, 201, 114, 0.3) 0%, rgba(219, 201, 114, 0) 55.56%),
          linear-gradient(0deg, #FFFFFF, #FFFFFF);
          padding-top:78px;

        }
        .collection_custom.markered_text,
        .collection_custom.markered_text p{
          text-align:center;
          margin:0 auto;
        }
        .collection_custom.markered_text p{
          margin-top:20px;
        }
        .collection_custom.markered_text + .featured-collection-custom_under_header {
          text-align:center;
          margin:0 auto;
          margin-top:30px;
        }
          .main-collection-product-grid-custom_wrapper{
            margin-top:81px;
            padding:0 11px;
          }
          .radio_custom_sort {
            display: flex;
            flex-direction: column;
            height:auto;
          }
          .custom_sort_wrapper,
          .custom_sort_form,
          .custom_sort_form_inner {
            padding: 0;
          }
          .custom_sort_form,
          .facet-filters__field{
            justify-content:flex-start;
          }
          .custom_sort_form{
            margin-top:16px;
          }

          .custom_sort_wrapper{
            border: 1px solid rgba(185, 178, 148, 1);
            border-radius:4px;
            padding:20px;
          }
          .radio_custom_sort,
          .custom_sort_label {
            display: flex;
            gap: 16px;
          }
          .custom_sort_checkbox {
            display: block !important;
            width: 20px;
            height: 20px;
            border: 1px solid rgba(185, 178, 148, 1);
            border-radius: 3px;
          }
          .custom_sort_label input{
          display:none;
        }
          .custom_sort_label input:checked + .custom_sort_checkbox{
          background-image: url('{{ 'icons8-done-50.png' | asset_url }}');
          background-size: contain;
           background-repeat: no-repeat;

          }
          .facet-filters__label label[for='SortBy'],
            label.custom_sort_label,
          .filter_heading_wrapper div span {
            font-family: var(--custom-font-style-secondary);
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color:var(--custom-font-color-primary)
          }
          label.custom_sort_label{
            font-weight: 400;
          }


          @media screen and (max-width:750px){
            .main-collection-product-grid-custom_wrapper{
            margin-top:34px;
          }
            .collection_custom_gradient{
          padding-top:34px;

        }
            .radio_custom_sort{
              gap:7px;
            }

            .collection_custom.markered_text + .featured-collection-custom_under_header {
              margin-top:16px;
            }
            .collection_custom.markered_text p{
              margin-top:15px;
            }
             .custom_reviews_text p strong{
              padding:0 2px;
            }
             .custom_reviews_text{
              gap:4px;
              justify-content:center;
            }
             .custom_reviews_text span{
              gap:0;
            }
             .custom_reviews_text span svg {
            min-width:auto !important;
            min-height:auto !important;
            max-width:13px !important;
            max-height:13px !important;
            height:13px !important;
            width:13px !important;
            }
             .custom_reviews_text p{
              font-size: 12px;
              line-height: 16px;
            }

            .collection_custom_wrapper{
          padding:0 0 50px 0;


        }
          }
          .featured-collection-custom_under_header {
    max-width: 699px;
    margin: auto;
    margin-top: 21px;
    font-family: var(--custom-font-style-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    color: var(--custom-font-color-primary);
  }
  .featured-collection-custom_grid {
    max-width: 1244px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
    margin: auto;
  }

  .featured-collection-custom_grid_element {
    background: white;
    max-width: 288px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    box-shadow: 0px 0px 30px 0px rgba(239, 233, 203, 1);
    padding: 28px 11px;
    box-sizing: border-box;
    border-radius: 4px;
    height:100%;
    justify-content:space-between;
  }

  .featured-collection-custom_grid_element p {
    margin: 0;
    margin-top: 16px;
    max-width: 213px;
  }
  .featured-collection-custom_grid_element img {
    max-width: 182px;
    height: 210px;
  }
  .featured-collection-custom_grid_element_description p{
    font-family: var(--custom-font-style-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--custom-font-color-primary);
    margin: 0;
    min-height: 60px;
    padding: 0 10px;
  }
  .featured-collection-custom_grid_element svg {
    margin-top: 8px;
  }

  .featured-collection-custom_grid_element .price__sale {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .featured-collection-custom_grid_element .price__sale span {
    font-family: var(--custom-font-style-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    color: var(--custom-font-color-primary);
  }

  .featured-collection-custom_grid_element .prouct-link {
    font-family: var(--custom-font-style-primary);
    font-size: 16px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    background: #19bf6f;
    padding: 14.5px 34.5px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 27px;
  }

  .featured-collection-custom_grid_element .variants_tittle {
    font-family: var(--custom-font-style-secondary);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--custom-font-color-primary);
    margin-top: 4px;
  }
  .featured-collection-custom_grid_element .variants {
    height: 25px;
    max-width: 165px;
    display: flex;
    justify-content: space-between;
    gap:5px;
  }
  .featured-collection-custom_grid_element .variants svg {
    width: 25px;
    height: 25px;
  }

  .featured-collection-custom_bottom_btn {
    {% comment %} width: 256px; {% endcomment %}
    margin: auto;
    margin-top: 64px;
    height: 33px;
  }
  .featured-collection-custom_bottom_btn a {
    text-decoration: none;
    font-family: var(--custom-font-style-primary);
    font-size: 14px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--custom-font-color-primary);
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
  }
  .featured-collection-custom_bottom_btn_border {
    display: block !important;
    width: 100%;
    height: 6px;
    border-radius: 6px;
    background: rgba(248, 233, 165, 1);
    max-width: 255px;
    margin: auto;
  }

  .mobile_only {
    display: none !important;
    margin-top: 40px;
  }
  .about-us-small-imamges_wrapper {
    display: flex;
    max-width: 996px;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
  }
  .about-us-small-imamges-text {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .about-us-small-imamges-text span {
    font-family: var(--custom-font-style-primary);
    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--custom-font-color-primary);
  }
  @media screen and (max-width: 1200px) {
    .featured-collection-custom_grid .featured-collection-custom_grid_element:last-child {
      display: none !important;
    }
    .featured-collection-custom_grid {
      grid-template-columns: 1fr 1fr;
    }
    .featured-collection-custom_grid_element {
      width: 100%; 
      margin:auto;
    }
  }

  @media screen and (max-width: 750px) {
    .about-us-small-imamges_wrapper {
      margin-top: 29px;
      max-width: 262px;
    }
    .about-us-small-imamges-text {
      flex-direction: column;
      gap: 15px;
      flex-basis: 33%;
    }
    .about-us-small-imamges-text span {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }
    .about-us-small-imamges-text img {
      width: 45px;
      height: 45px;
    }
    .about-us-small-imamges_wrapper {
      margin-top: 29px;
      max-width: 262px;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      display: none !important;
    }
   .featured-collection-custom_grid_element .variants svg {
  width: 20px;
  height: 20px;
}
    .featured-collection-custom_wrapper .desctop_collection {
      display: none;
    }
    .featured-collection-custom_wrapper .markered_text {
      padding: 40px 12px 0 12px;
    }
    .featured-collection-custom_wrapper {
      height: 854px;
    }
    .featured-collection-custom_under_header {
      max-width: 336px;
      font-size: 14px;
      line-height: 20px;
    }
    .featured-collection-custom_grid {
      margin-top: 40px;
      gap:10px;
    }
    .featured-collection-custom_grid_element {
      justify-content: space-between;
      max-width: 241px;
    }
    .featured-collection-custom_grid_element img {
      max-width: 110px;
      height: 140px;
    }
    .featured-collection-custom_grid_element_description p{
      font-size: 16px;
      line-height: 20px;
      max-width: 187px;
    }

    .featured-collection-custom_grid_element .prouct-link {
      font-size: 14px;
      line-height: 14px;
      padding: 13px 31.5px;
      margin-top: 20px;
    }
    .featured-collection-custom_bottom_btn {
      margin-top: 20px;
    }
    .featured-collection-custom_bottom_btn a {
      font-size: 16px;
      line-height: 16px;
    }
    .mobile_only {
      display: block !important;
    }
    .featured-collection-custom_wrapper .swiper-pagination {
      position: initial !important;
      margin-top: 25px;
    }
    .featured-collection-custom_wrapper .swiper-pagination-bullet {
      background: rgba(30, 75, 81, 1) !important;
      height: 12px !important;
      width: 12px !important;
    }
  }
{%- endstyle -%}

<div class="collection_custom_wrapper section-{{ section.id }}-padding">


{% comment %}  or collection tittle {% endcomment %}
<div class="collection_custom_gradient">

  <div class="custom_reviews_text">
    <span>
     {% for item in (1..5) %}
       <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path d="M9 0L11.1137 6.89121L18 6.87539L12.42 11.1186L14.5623 18L9 13.7312L3.43769 18L5.58 11.1186L0 6.87539L6.88632 6.89121L9 0Z" fill="#FBBC04"/>
         </svg>
     {% endfor %}  
        </span> {{- section.settings.dummy_review -}}
   </div>
  <h2 class="collection_custom markered_text">{{ section.settings.heading }}</h2>
  <p class="featured-collection-custom_under_header">{{ section.settings.text_1 }}</p>
  <div class="about-us-small-imamges_wrapper">
    {% for block in section.blocks %}
      {%- if block.type == 'text-img-small' -%}
        <div class="about-us-small-imamges-text">
          {{ block.settings.image | image_url: width: 71 | image_tag: height: 71, loading: 'lazy' }}
          <span>
            {{ block.settings.text }}
          </span>
        </div>
      {%- endif -%}
    {% endfor %}
  </div>
</div>


  
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
    {%- endif -%}

    <div class="main-collection-product-grid-custom_wrapper {% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
     
      <style>
        
      </style>
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          {% render 'facets-custom',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            paginate: paginate
          %}

          <facet-filters-form class="facets facets-vertical-sort page-width small-hide no-js-hidden custom_sort_wrapper">
            <h2 class="facet-filters__label caption-large text-body small-hide">
              <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
            </h2>
            <form class="facets-vertical-form custom_sort_form" id="FacetSortForm">
              <div class="facet-filters sorting caption custom_sort_form_inner">
                <div class="facet-filters__field">
                  <div class="select">
                    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                    <div
                      class="facet-filters__sort radio_custom_sort"
                      id="SortBy"
                      aria-describedby="a11y-refresh-page-message"
                    >
                      {%- for option in collection.sort_options -%}
                        <label class="sort-option custom_sort_label">
                          <input
                            type="radio"
                            name="sort_by"
                            value="{{ option.value | escape }}"
                            {% if option.value == sort_by %}
                              checked="checked"
                            {% endif %}
                          >

                          <div class="custom_sort_checkbox"></div>
                          {{ option.name | escape }}
                        </label>
                      {%- endfor -%}
                    </div>
                  </div>
                </div>
                <noscript>
                  <button type="submit" class="facets__button-no-js button button--secondary">
                    {{ 'products.facets.sort_button' | t }}
                  </button>
                </noscript>
              </div>
            </form>
          </facet-filters-form>
        </aside>
      {%- endif -%}

      <div id="ProductGridContainer"
        class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}

       

          <div  class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
            <div  class="loading-overlay gradient"></div>
            <div class="featured-collection-custom_wrapper_collection_pproduct">
              <div id="product-grid"
                data-id="{{ section.id }}"
                class="featured-collection-custom_grid desctop_collection
                  grid product-grid"
              >

              {%- for item in collection.products -%}
                <div class="featured-collection-custom_grid_element">
                  <img loading="lazy" src="{{item.featured_image | image_url}}" alt="img">
                  <div class="featured-collection-custom_grid_element_description">
                    {%- if item.description != blank -%}
                      {% if item.description.size > 55 -%}
                        {{- item.description | truncate: 55, '...' }}
                      {%- else -%}
                      {{ item.description }}
                        
                      {% endif %}
                    {% else %}
                      {% if section.settings.dummy_description.size > 55 %}
                        <p> {{ section.settings.dummy_description | truncate: 55, '...' }}</p>
                      {%- else -%}
                    <p> {{ section.settings.dummy_description }}</p>
                      {% endif %}
                    {%- endif -%}
                  </div>
                  <svg width="96" height="16" viewBox="0 0 96 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 0L9.87882 6.12552L16 6.11146L11.04 9.88317L12.9443 16L8 12.2055L3.05573 16L4.96 9.88317L0 6.11146L6.12118 6.12552L8 0Z" fill="#FBBC04"/>
                    <path d="M28 0L29.8788 6.12552L36 6.11146L31.04 9.88317L32.9443 16L28 12.2055L23.0557 16L24.96 9.88317L20 6.11146L26.1212 6.12552L28 0Z" fill="#FBBC04"/>
                    <path d="M48 0L49.8788 6.12552L56 6.11146L51.04 9.88317L52.9443 16L48 12.2055L43.0557 16L44.96 9.88317L40 6.11146L46.1212 6.12552L48 0Z" fill="#FBBC04"/>
                    <path d="M68 0L69.8788 6.12552L76 6.11146L71.04 9.88317L72.9443 16L68 12.2055L63.0557 16L64.96 9.88317L60 6.11146L66.1212 6.12552L68 0Z" fill="#FBBC04"/>
                    <path d="M88 1.70511L89.4008 6.27214L89.5095 6.62637L89.88 6.62552L94.5119 6.61488L90.7373 9.48517L90.4585 9.69725L90.5626 10.0318L91.9984 14.6438L88.3044 11.8089L88 11.5753L87.6956 11.8089L84.0016 14.6438L85.4374 10.0318L85.5415 9.69725L85.2626 9.48517L81.4881 6.61488L86.12 6.62552L86.4905 6.62637L86.5992 6.27214L88 1.70511Z" stroke="#FBBC04"/>
                    <path d="M83.0557 16L88 12.2055V0L86.1212 6.12552L80 6.11146L84.96 9.88317L83.0557 16Z" fill="#FBBC04"/>
                  </svg>
          
                  {% render 'price', product: item, price_class: '' %}
          
                  <div class="variants_tittle">{{ section.settings.variant_name }}</div>
                  <div class="variants">
                    {%- if item.variants.size > 1 -%}
                      {%- for variant in item.variants -%}
                        {%- if variant.available -%}
                          {%- case variant.title -%}
                            {%- when 'skyblue' -%}
                              <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="11.0328" cy="11.6321" r="11" fill="#6ABCC8"/>
                              </svg>
          
                            {%- when 'yellow' -%}
                              <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="11.3069" cy="11.6322" r="11" fill="#D9DB32"/>
                              </svg>
          
                            {%- when 'sunshine' -%}
                              <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="11.3069" cy="11.6322" r="11" fill="#D9DB32"/>
                              </svg>
          
                            {%- when 'red' -%}
                              <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="11.8551" cy="11.6322" r="11" fill="#BC2D33"/>
                              </svg>
          
                            {%- when 'orange' -%}
                              <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="11.1289" cy="11.6322" r="11" fill="#F37328"/>
                              </svg>
          
                            {%- else -%}
                          {%- endcase -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endif -%}
                  </div>
          
                  <a class="prouct-link" href="{{item.url}}">{{ section.settings.button_text }}</a>
                </div>
              {%- endfor -%}

            </div>
          </div>
{% comment %} 
              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li
                  class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load,
                    show_quick_add: section.settings.enable_quick_add,
                    section_id: section.id
                  %}
                </li>
              {%- endfor -%} {% endcomment %}
            

            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {% render 'mask-arch' %}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "main-collection-custom",
  "class": "section",
  "blocks":[
    {
      "type": "text-img-small",
      "name": "text-img-small",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text",
          "default": "built to last"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Img"
        }
      ]
    }
  ],
  "settings": [
    {
      "label": "heading",
      "type": "richtext",
      "id": "heading",
      "default": "<p>toolganize <strong>collection</strong></p>"
    },
    {
      "label": "text1",
      "type": "text",
      "id": "text_1",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis mi vitae quam sodales."
    },
    {
      "label": "dummy description",
      "type": "text",
      "id": "dummy_description",
      "default": "toolganize power tool organizer & storage wall mount bla bla bla "
    },
    {
      "label": "button_text",
      "type": "text",
      "id": "button_text",
      "default": "SHOP NOW"
    },
    {
      "label": "text",
      "type": "text",
      "id": "variant_name",
      "default": "Available colours"
    }, 
      {
          "type": "richtext",
          "id": "dummy_review",
          "label": "t:sections.main-product.blocks.text.settings.text.label",
          "default": "<p><strong>4.5/5</strong>Based On<strong>600+</strong>Happy Customer Reviews</p>"
        },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
