<style>
  .what-are-you-waiting-section_wrapper {
    background-image: url({{section.settings.image_desk | image_url}});
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 689px;
    padding: 0 11px;
    box-sizing: border-box;
    background-attachment: fixed;
  }

  .CTA_botton {
    margin: 0;
    padding: 0;
    margin: auto;
    max-width: 420px;
    height: 60px;
    border-radius: 4px;
    background: rgba(25, 191, 111, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .CTA_botton a {
    display: flex;
    gap: 15px;
    text-decoration: none;
    align-items: center;
  }

  .CTA_botton a span {
    font-family: var(--custom-font-style-primary);
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }

  .payment_wrapper_custom {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
  .what-are-you-waiting-text_block {
    max-width: 940px;
    margin: 54px auto;
  }
  .what-are-you-waiting-text_block {
    font-family: var(--custom-font-style-secondary);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 866px;
    color: white;
  }
  .what-are-you-waiting-section_wrapper p {
    margin: 0;
    padding: 0;
  }
  .what-are-you-waiting-section_wrapper h2 p {
    font-family: var(--custom-font-style-primary);
    font-size: 50px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
  }
  .what-are-you-waiting-section_wrapper h2 p b {
    font-weight: 700;
  }

  p.why-do-we-love-we-do_under_header {
    font-family: var(--custom-font-style-primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    max-width: 516px;
    margin: 9px auto 52px auto;
  }

  .what-are-you-waiting-section_wrapper .inner_item {
    display: flex;
    justify-content: space-between;
  }

  .why-do-we-love-we-do_video_block {
    max-width: 1080px;
    max-height: 667px;
    margin: auto;
  }
  .why-do-we-love-we-do_video_block img {
    width: 100%;
  }

  .what-are-you-waiting-section_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .what-are-you-waiting-section_wrapper__inner {
    width: 969px;
    height: 436px;
  }
  .what-are-you-waiting-section_wrapper__inner h2 {
    margin: 0;
    max-width: 714px;
    margin: auto;
  }
  .what-are-you-waiting-section_wrapper__inner .images-text-list {
    margin-top: 26px;
    margin-bottom: -29px;
  }
  .what-are-you-waiting-img-text {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 24px;
    font-size: 25px;
    color: var(--custom-font-color-secondary);
    line-height: 31.13px;
    font-weight: 500;
    white-space: nowrap;
  }
  @media screen and (max-width: 1300px) {
    .what-are-you-waiting-img-text {
      font-size: 21px;
      gap: 12;
    }
    .what-are-you-waiting-img-text img {
      width: 50px;
      height: 50px;
    }
  }
  @media screen and (max-width: 1100px) {
    .what-are-you-waiting-section_wrapper__inner {
      padding-top: 40px;
    }
    .what-are-you-waiting-section_wrapper {
      height: 600px;
    }
    .what-are-you-waiting-img-text img {
      width: 40px;
      height: 40px;
    }
    .what-are-you-waiting-img-text span {
      font-size: 17px;
    }
    .what-are-you-waiting-section_wrapper .inner_item {
      justify-content: space-around;
    }
  }
  @media screen and (max-width: 767px) {

    .what-are-you-waiting-section_wrapper {
      height: auto;
    }
    .what-are-you-waiting-section_wrapper h2 p {
      font-size: 26px;
      line-height: 29px;
    }
    p.why-do-we-love-we-do_under_header {
      font-size: 14px;
      line-height: 20px;
      margin: 22px auto 26px auto;
    }

    .what-are-you-waiting-text_block {
      font-size: 13.2px;
      line-height: 19px;
      font-weight:600;
    }
    .CTA_botton a span {
      font-size: 18px;
      line-height: 18px;
    }
    .what-are-you-waiting-text_block {
      margin: 30px auto 21px auto;
    }
    .payment_wrapper_custom .list-payment {
      padding: 0px;
    }

    .what-are-you-waiting-img-text span {
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      white-space: initial;
      text-align:left;
    }
    .what-are-you-waiting-section_wrapper__inner .images-text-list {
      margin-bottom: -14px;
    }
  }
  @media screen and (max-width: 600px) {
    .what-are-you-waiting-section_wrapper .inner_item {
      justify-content: space-between;
      align-items: center;
    }
    .what-are-you-waiting-section_wrapper {
      background-image: url({{section.settings.image_mob | image_url}});
    }
    .what-are-you-waiting-img-text {
      gap: 9px;
      flex-basis:33%;
    }
    .what-are-you-waiting-img-text img {
     width:38px;
     height:38px;
    }
  }
</style>

<div class="what-are-you-waiting-section_wrapper">
  <div class="what-are-you-waiting-section_wrapper__inner">
    <h2 class="markered_text green">{{ section.settings.heading }}</h2>

    {%- if section.blocks.size > 0 -%}
      <div class="images-text-list">
        <div class="inner_item">
          {% for block in section.blocks %}
            <div class="what-are-you-waiting-img-text">
              {%- if block.settings.image != blank -%}
                {{ block.settings.image | image_url: width: 71 | image_tag: height: 71,loading:"lazy" }}
              {%- endif -%}
              <span>
                {{ block.settings.text }}
              </span>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="what-are-you-waiting-text_block">
      {{ section.settings.text_p_1 }}
    </div>
    <div class="CTA_botton">
      <a href="{{ section.settings.link }}"
        ><span>{{ section.settings.text_in_button }}</span>
        <span style="margin-bottom:6px;">👉</span>
      </a>
    </div>
    <div class="payment_wrapper_custom">
      <ul class="list list-payment" role="list">
        {%- for type in shop.enabled_payment_types -%}
          <li class="list-payment__item">
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "what-are-you-waiting",
  "max_blocks": 3,
  "settings": [
    {
      "label": "heading",
      "type": "richtext",
      "id": "heading",
      "default": "<p>what are you waiting for get your <strong>power tool ganizer now</strong></p>"
    },
    {
      "label": "text1",
      "type": "text",
      "id": "text_1",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis mi vitae quam sodales."
    },
    {
      "label": "text_p_1",
      "type": "text",
      "id": "text_p_1",
      "default": "Shop Now for a Clutter-Free Tomorrow: Your Organized Space Awaits!"
    },
    {
      "label": "link",
      "type": "text",
      "id": "link_shop_now",
      "default": "https://toolganize.myshopify.com/collections/all"
    },
    {
      "label": "image_picker_desk",
      "type": "image_picker",
      "id": "image_desk"
    },
    {
      "label": "image_picker_mob",
      "type": "image_picker",
      "id": "image_mob"
    },
    {
      "label": "button_label",
      "type": "text",
      "id": "text_in_button",
      "default": "GET MINE NOW"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text",
          "default": "built to last"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Img"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "what-are-you-waiting"
    }
  ]
}
{% endschema %}
