
<style>
    .text_wrapper_1 p{
        margin:0;
    }
    .mobile_slider {
        display: none !important;
    }
    
    .workflow-custom-wrapper {
    
        max-width: 1270px;
        margin: auto;
        text-align: center;
        margin-top: 80px;
    }
    
    .workflow-custom-tittle {
        font-family: var(--custom-font-style-primary);
        max-width: 696px;
        margin: auto;
        color: var(--custom-font-color-primary);
        font-size: 50px;
        font-weight: 400;
        line-height: 55px;
        letter-spacing: 0px;
        text-align: center;
       
    }
    
    div.workflow-custom-wrapper h5.workflow-custom-tittle_1 {
        max-width: 578px;
        margin: auto;
        color: var(--custom-font-color-primary);
        font-family: var(--custom-font-style-primary);
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
        margin-top:0;
    }
    
    .workflow-custom-grid {
        display: grid;
        grid-template-columns: 1fr 1px 1fr 1px 1fr;
        align-items: center;
        margin-top: 63px;
    }
    
    .img_wrapper {
        position: relative;
    }
    
    .text_wrapper {
        font-size: 25px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0px;
        text-align: center;
        color: var(--custom-font-color-primary)
    }
    
    .workflow-custom-item {
        padding: 0 34px 0 34px;
    }
    
    
    .border_elem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 241px;
        background: linear-gradient(180deg, rgba(245, 240, 215, 0.22) 0%, rgba(71, 100, 95, 0.22) 50.14%, rgba(71, 100, 95, 0) 100%);
    
    }
    
    .border_elem svg {
        min-width: 33px;
        min-height: 33px;
    }
    
    .step-counter {
        position: absolute;
    
        background: var(--custom-background-secondary);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: var(--custom-font-style-primary);
        font-size: 25px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0px;
        text-align: center;
        bottom: 0;
        right: 50%;
    
        transform: translate(50%)
    }
    .swiper_slide_elem{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    
    @media screen and (max-width:900px) {
        .workflow-custom-grid {
            grid-template-columns: 1fr;
            display: none;
        }
    
        .border_elem {
            display: none;
        }
    
        .mobile_slider {
            display: block !important;
            padding:0 12px !important;
        }
        .workflow-custom-grid-mobile{
            margin-top:42px;
        }
    }
    
    @media screen and (max-width:767px) {
    
    
    
        .workflow-custom-wrapper {
            padding: 0 12px;
            box-sizing: border-box;
            margin-top: 45px;
        }
    
        .workflow-custom-tittle {
            font-size: 26px;
            line-height: 29px;
    
        }
    
        .workflow-custom-tittle_1 {
            font-size: 14px;
            line-height: 20px;
            margin-top: 22px;
    
        }
    
        .workflow-custom-grid {
            margin-top: 42px;
        }
    
        .step-counter {
            width: 30px;
            height: 30px;
            font-size: 18px;
            line-height: 22px;
        }
    
        .text_wrapper {
            font-family: var(--custom-font-style-primary);
            font-size: 20px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: center;
            margin:18px 0 10px 0;
    
        }
    
        .text_wrapper_1 {

            font-family: var(--custom-font-style-secondary);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
    
        }
      
    
    
    }
</style>

<div class='workflow-custom-wrapper'> 
<h2 class="markered_text workflow-custom-tittle product__title h1">
    {{section.settings.heading}}
</h2> 
<h5 class="workflow-custom-tittle_1"> {{section.settings.text_1}}</h5>

<div class="workflow-custom-grid"> 
{% for block in section.blocks %}
    <div class="workflow-custom-item">
        <div class="img_wrapper">
            {{ block.settings.image | image_url: width: 180 | image_tag: height: 180,loading:'lazy' }}
            <div class="step-counter">{{forloop.index}}</div>
        </div>


        <h4 class="text_wrapper"> 
        {{ block.settings.text}}
        </h4>
        <p class="text_wrapper_1">
        {{ block.settings.textarea}}
        </p>

    </div>
    {% if forloop.last != true %}
        <div class='border_elem'><svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="16.5" cy="16.5" r="16" fill="#F6F6F6" stroke="#E7E8E9"/>
    <path d="M12.5898 20.9481L16.8087 16.7293C17.3069 16.2311 17.3069 15.4158 16.8087 14.9176L12.5898 10.6987" stroke="#1E4B51" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M17.7656 20.9481L21.9844 16.7293C22.4827 16.2311 22.4827 15.4158 21.9844 14.9176L17.7656 10.6987" stroke="#1E4B51" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>     
        </div>
    {% endif %}
{% endfor %}
</div>

</div>

{% comment %}      swiper for mobile -  {% endcomment %}

<div class="swiper mobile_slider">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper workflow-custom-grid-mobile">

        {% for block in section.blocks %}
            <div class="swiper-slide swiper_slide_elem">
                <div class="img_wrapper">
                    {{ block.settings.image | image_url: width: 150 | image_tag: height: 150 ,loading:'lazy' }}
                    <div class="step-counter">{{forloop.index}}</div>
                </div>
                <h4 class="text_wrapper"> 
                {{ block.settings.text}}
               </h4>
               <p>
                {{ block.settings.textarea}}
               </p> 
            </div>  
     
    {% endfor %}
   
    </div> 
    
</div> 

    <script>
        window.addEventListener("DOMContentLoaded", (event) => {
            const swiper = new Swiper('.mobile_slider', {
                speed: 400,
                spaceBetween: 100,
                autoplay: {
                    delay: 1300,
                  },
              });
          });
    </script>
 
          


{% schema %}
{
  "name": "workflow-custom",
  "max_blocks": 3,
  "settings": [
    {
        "type": "richtext",
        "id": "heading",
        "label": "heading",
        "default": "<p>get your <strong>power tool organizer</strong> in just 3 simple steps</p>"
      },
    {
        "type": "text",
        "id": "text_1",
        "label": "heading 1",
        "default": "some info"
      }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "heading",
          "default": "some info"
        },
        {
          "type": "richtext",
          "id": "textarea",
          "label": "text",
          "default": "<p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing<strong/> elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Img"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "workflow-custom"
    }
  ]
}
{% endschema %}
